<!DOCTYPE html>
<html ng-app="mainApp">
<head>
   <script type="text/javascript" src="/static/restapp/js/angular.js"></script>
   <script type="text/javascript" src="/static/restapp/js/app.js"></script>
   <script type="text/javascript" src="/static/restapp/js/postdata.js"></script>
   <link rel="stylesheet" type="text/css" href="/static/restapp/bootstrap/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script type="text/javascript" src="/static/restapp/bootstrap/js/bootstrap.min.js"></script>
<!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
<style type="text/css">
   a{
      padding-right: 20px;
   }
   .container{
      margin-top: 20px;
   }
</style>
</head>
<body>
   <div class="container">
   <div class="nav">
   <a href="#/restapp/userDisplay">User Display</a>
   <a href="#!postdata">Add New User</a>
   <a ng-href="#!about/">About</a>
</div>
   <div ng-view></div>

   </div>
</body>
</html>
